<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.FinancingMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.Financing" >
    <id column="financingId" property="financingid" jdbcType="INTEGER" />
    <result column="saleId" property="saleid" jdbcType="INTEGER" />
    <result column="repertoryId" property="repertoryid" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
    <result column="financingMoney" property="financingmoney" jdbcType="DECIMAL" />
    <result column="financingType" property="financingtype" jdbcType="VARCHAR" />
    <result column="financingTime" property="financingtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    financingId, saleId, repertoryId, companyId, financingMoney, financingType, financingTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.pojo.FinancingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from financing
    where financingId = #{financingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from financing
    where financingId = #{financingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.pojo.FinancingExample" >
    delete from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.Financing" >
    insert into financing (financingId, saleId, repertoryId, 
      companyId, financingMoney, financingType, 
      financingTime)
    values (#{financingid,jdbcType=INTEGER}, #{saleid,jdbcType=INTEGER}, #{repertoryid,jdbcType=INTEGER}, 
      #{companyid,jdbcType=INTEGER}, #{financingmoney,jdbcType=DECIMAL}, #{financingtype,jdbcType=VARCHAR}, 
      #{financingtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.Financing" >
    insert into financing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financingid != null" >
        financingId,
      </if>
      <if test="saleid != null" >
        saleId,
      </if>
      <if test="repertoryid != null" >
        repertoryId,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="financingmoney != null" >
        financingMoney,
      </if>
      <if test="financingtype != null" >
        financingType,
      </if>
      <if test="financingtime != null" >
        financingTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financingid != null" >
        #{financingid,jdbcType=INTEGER},
      </if>
      <if test="saleid != null" >
        #{saleid,jdbcType=INTEGER},
      </if>
      <if test="repertoryid != null" >
        #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="financingmoney != null" >
        #{financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="financingtype != null" >
        #{financingtype,jdbcType=VARCHAR},
      </if>
      <if test="financingtime != null" >
        #{financingtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.pojo.FinancingExample" resultType="java.lang.Integer" >
    select count(*) from financing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update financing
    <set >
      <if test="record.financingid != null" >
        financingId = #{record.financingid,jdbcType=INTEGER},
      </if>
      <if test="record.saleid != null" >
        saleId = #{record.saleid,jdbcType=INTEGER},
      </if>
      <if test="record.repertoryid != null" >
        repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      </if>
      <if test="record.companyid != null" >
        companyId = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.financingmoney != null" >
        financingMoney = #{record.financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.financingtype != null" >
        financingType = #{record.financingtype,jdbcType=VARCHAR},
      </if>
      <if test="record.financingtime != null" >
        financingTime = #{record.financingtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update financing
    set financingId = #{record.financingid,jdbcType=INTEGER},
      saleId = #{record.saleid,jdbcType=INTEGER},
      repertoryId = #{record.repertoryid,jdbcType=INTEGER},
      companyId = #{record.companyid,jdbcType=INTEGER},
      financingMoney = #{record.financingmoney,jdbcType=DECIMAL},
      financingType = #{record.financingtype,jdbcType=VARCHAR},
      financingTime = #{record.financingtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.Financing" >
    update financing
    <set >
      <if test="saleid != null" >
        saleId = #{saleid,jdbcType=INTEGER},
      </if>
      <if test="repertoryid != null" >
        repertoryId = #{repertoryid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="financingmoney != null" >
        financingMoney = #{financingmoney,jdbcType=DECIMAL},
      </if>
      <if test="financingtype != null" >
        financingType = #{financingtype,jdbcType=VARCHAR},
      </if>
      <if test="financingtime != null" >
        financingTime = #{financingtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where financingId = #{financingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.Financing" >
    update financing
    set saleId = #{saleid,jdbcType=INTEGER},
      repertoryId = #{repertoryid,jdbcType=INTEGER},
      companyId = #{companyid,jdbcType=INTEGER},
      financingMoney = #{financingmoney,jdbcType=DECIMAL},
      financingType = #{financingtype,jdbcType=VARCHAR},
      financingTime = #{financingtime,jdbcType=TIMESTAMP}
    where financingId = #{financingid,jdbcType=INTEGER}
  </update>
  <select id="getFinancingList" resultType="com.oracle.pojo.Financing" resultMap="financingMap" >
    select f.*,c.companyName,r.purchasePrice,r.repertoryNum from financing f
	left join company c on f.companyId=c.companyId
	left join repertory r on f.repertoryId=r.repertoryId
  </select>

  <resultMap id="financingMap" type="com.oracle.pojo.Financing">
    <id property="financingid" column="financingId"></id>
    <result property="saleid" column="saleId"></result>
    <result property="repertoryid" column="repertoryId"></result>
    <result property="companyid" column="companyId"></result>
    <result property="financingmoney" column="financingMoney"></result>
    <result property="financingtype" column="financingType"></result>
    <result property="financingtime" column="financingTime"></result>

    <association property="company" javaType="com.oracle.pojo.Company">
      <id property="companyid" column="companyId"></id>
      <result property="companyname" column="companyName"></result>
    </association>

    <association property="repertory" javaType="com.oracle.pojo.Repertory">
      <id property="repertoryid" column="repertoryId"></id>
      <result property="carid" column="carId"></result>
      <result property="companyid" column="companyId"></result>
      <result property="purchaseprice" column="purchasePrice"></result>
      <result property="intime" column="inTime"></result>
      <result property="repertorynum" column="repertoryNum"></result>
    </association>

  </resultMap>
</mapper>