<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.SystemconfigMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.Systemconfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="configname" property="configname" jdbcType="VARCHAR" />
    <result column="configvalue" property="configvalue" jdbcType="INTEGER" />
    <result column="configdesc" property="configdesc" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="defaultvalue" property="defaultvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, configname, configvalue, configdesc, createdate, modifydate, defaultvalue
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.pojo.SystemconfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from systemconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from systemconfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from systemconfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.pojo.SystemconfigExample" >
    delete from systemconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.Systemconfig" >
    insert into systemconfig (id, configname, configvalue, 
      configdesc, createdate, modifydate, 
      defaultvalue)
    values (#{id,jdbcType=INTEGER}, #{configname,jdbcType=VARCHAR}, #{configvalue,jdbcType=INTEGER}, 
      #{configdesc,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{defaultvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.Systemconfig" >
    insert into systemconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="configname != null" >
        configname,
      </if>
      <if test="configvalue != null" >
        configvalue,
      </if>
      <if test="configdesc != null" >
        configdesc,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="defaultvalue != null" >
        defaultvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="configname != null" >
        #{configname,jdbcType=VARCHAR},
      </if>
      <if test="configvalue != null" >
        #{configvalue,jdbcType=INTEGER},
      </if>
      <if test="configdesc != null" >
        #{configdesc,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="defaultvalue != null" >
        #{defaultvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.pojo.SystemconfigExample" resultType="java.lang.Integer" >
    select count(*) from systemconfig
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update systemconfig
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.configname != null" >
        configname = #{record.configname,jdbcType=VARCHAR},
      </if>
      <if test="record.configvalue != null" >
        configvalue = #{record.configvalue,jdbcType=INTEGER},
      </if>
      <if test="record.configdesc != null" >
        configdesc = #{record.configdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifydate != null" >
        modifydate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.defaultvalue != null" >
        defaultvalue = #{record.defaultvalue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update systemconfig
    set id = #{record.id,jdbcType=INTEGER},
      configname = #{record.configname,jdbcType=VARCHAR},
      configvalue = #{record.configvalue,jdbcType=INTEGER},
      configdesc = #{record.configdesc,jdbcType=VARCHAR},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      modifydate = #{record.modifydate,jdbcType=TIMESTAMP},
      defaultvalue = #{record.defaultvalue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.Systemconfig" >
    update systemconfig
    <set >
      <if test="configname != null" >
        configname = #{configname,jdbcType=VARCHAR},
      </if>
      <if test="configvalue != null" >
        configvalue = #{configvalue,jdbcType=INTEGER},
      </if>
      <if test="configdesc != null" >
        configdesc = #{configdesc,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="defaultvalue != null" >
        defaultvalue = #{defaultvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.Systemconfig" >
    update systemconfig
    set configname = #{configname,jdbcType=VARCHAR},
      configvalue = #{configvalue,jdbcType=INTEGER},
      configdesc = #{configdesc,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      defaultvalue = #{defaultvalue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>